
*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  font-weight: 600;
   /* border: 1px red;  */
   /* border-style: solid;    */
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

h1{font-size: larger; color: #0f8ae8}
p{ font-weight: 400; color: #faf8f8;word-spacing: 2px;}
header{
  color: white;
  display:contents;
  justify-content: center;
}


.body{
  background: linear-gradient(to right, #300303, #300505 35%, #3d0404 75%, #333 75%);
}

.body-container {
  display: grid;
  margin: 0%;
  gap: 0.5rem;
  padding: 2%;
  grid-template-columns: 275px 1000px;
  grid-template-rows: 200px 550px 250px 350px;
  grid-template-areas:
    'header header'
    'aside slider'
    'aside main'
    'footer-l footer-r';
}

.item-1{
  grid-column: span 2;
  grid-row: span 2;
  grid-area: header;
  padding: 3px;
  margin: 5px;
  border: #C1CAD1;
  border-style: inset;
  border-width: 2px;
}
.item-2{
  grid-column: 1;
  grid-row: span 2;
 grid-area: aside;
 margin: 2%;
 padding: 2%;
 border-style: ridge;
 border-color: aqua;
}

.item-3{
 grid-area: slider;
 display: contents;
 margin-top: 5px;
 padding: 5px;

}

.item-4 {
grid-area: main;
margin: 0%;
padding: 0%;
}

.item-5 {
  grid-area: footer-l;
  padding: 2%;
  border-color: #0f8ae8;
  border-style: groove;
}




